body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana;

}

.media{
    display: block;
    margin: 20px auto;
}

h1{
    font-size: 50px;
    font-weight: normal;
}

h2{
    font-weight: 300;
    font-size: 42px;
}

p{
    font-size: 21px;
    color: gray;
}
a{
    font-size: 16px;
    color: aquamarine;
}

h3{
    text-align: right;
    color:gray;
    font-weight: normal;
}